* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: url([[@{/img/white-waves.png}]]);
}

body {
    background-color: #cccccc;
    padding-top:.5%;
}

img{
    width:100%;
}

a {
  color:inherit;
  text-decoration: none;
 }

.topContainer{
    display:flex;
    height:128px;
    display:flex;
}

.topContainerItem-1{
    flex:3;
    align-self: flex-end;
}

/* .topContainerItem-2{
    flex:2;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
    float:right;
} */

.topContainerItem-3{
    flex:1;
    display:flex;
    flex-direction:column;
    align-self: flex-end;
}

.topContainerItem-4{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding-left:2%;
    font-weight:bold;
}

/* .date{
    flex:3; 
    display: flex;
} */

.flag{
	max-height: 24px;
	max-width: 24px;
}

.language{
    flex:1;
    display:flex;   
    align-items:flex-start; /* align vertical */
}

.topStoryContainer{
    display:flex;
    background-color:#212529;
    align-items:center;

}

.topStoryContainerItem1{
	padding:1%;
    color:#f0f1f4;
    background-color:#212529;
    flex-basis:100%;
    flex:2; 
    display:flex;   
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.topStoryContainerItem2{
    background-color: #212529;
    flex-basis:100%;
    flex:4;
}

.topStoryDiscription{
    padding:1%;
    color:#f0f1f4;
    display: flex;
    background-color: #212529
}

.storyContainer{
    display:flex;
/*     height:100vh; */
}

.table{
    outline: 1px solid darkgrey; 
}

.stories{
    background-color:white;
    flex-basis:100%;
}