.container {
}

.topStory::before {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, transparent 0%, black 100%);
    margin-bottom: -400px;
    height: 400px;
    width: 100%;
    content: '';
}