<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News App</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
	<br>
	<div class= "container" style="width: 100%;">
		<table class="table table-striped" style="outline: 1px solid grey; margin: 5px;">
	    	<thead class="thead-dark">
		        <tr>   
		        	<th>News</th> 
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each = "item : ${itemList}">
		            <td> 
		            	<h3 th:text="${item.headline}"></h3>
            			<p><img th:src="${item.image}" style="max-height:100px; float:left; margin-right:20px;"></p>
            			<p><h6 th:text="${item.text}"></h6></p>
            			<p th:text="${item.dateTime}"></p>
            			<p th:text="${item.writer}" style="float:right;"></p>
		           </td>
	        	</tr>
	        </tbody>
	    </table>
	</div>
	<!--
	    <h2 th:text="${timeUpdated}" style="text-align:center"></h2><br>
	    <form class="form-inline" method="post">
	    	<input type="text" name="unit" placeholder="1" style="margin: 5px;" value ="1" class="form-control"></input>
	    	<button type="submit" class="btn btn-primary" style="margin: 5px;">Convert</button>
	    </form>
	    <br>
	    <table class="table table-striped" style="outline: 1px solid grey; margin: 5px;">
	    	<thead class="thead-dark">
		        <tr>    
		            <th>Bitcoin</th>
		            <th>Currency</th>
		            <th>Rate</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each = "currencyType : ${currencyTypes}">
		            <td th:text="${currencyType.unit}"></td>
		            <td th:text="${currencyType.name}"></td>
		            <td th:text="${currencyType.convertedValue}"></td>
	        	</tr>
	        </tbody>
	    </table>
	    <br>
	</div>
	-->
    
</body>
</html>