<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News App</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="style.css" th:href="@{style.css}"/>
    <style th:inline="text">
		body{
		    background: url([[@{/img/white-waves.png}]]);
		}
</style>
</head>
<body>
	<div class= "container">
		<div><img src="img/NewsWireLogo.png" alt="Logo image"><h2 th:text="${ldtString}" style ="float:right;"></h2></div>
		<div class="card text-white topStory" style="">
			<img th:src="${topStory.image}" class="card-img" alt="Card image" style="max-height:500px;">
			<div class="card-img-overlay" >
				<h2 th:text="${topStory.headline}" class="card-title"></h2><br>
				<div>
				<p><h4 th:text="${topStory.description}" class="card-text" style="margin-right:50%;"></h4></p>
				</div><br>
				<p th:text="${topStory.dateTime}"class="card-text">Last updated 3 mins ago</p>
			</div>
		</div>
		<table class="table table-striped" style="outline: 1px solid grey; margin: 5px; background-color:white;">
	    	<thead class="thead-dark">
		        <tr>   
		        	<th>Latest Stories</th> 
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each = "item : ${itemList}">
		            <td> 
		            	<h3 th:text="${item.headline}"></h3>
            			<p><img th:src="${item.image}" style="max-height:100px; float:left; margin-right:20px;"></p>
            			<p><h6 th:text="${item.text}"></h6></p>
            			<p th:text="${item.dateTime}"></p>
            			<p th:text="${item.writer}" style="float:right;"></p>
		           </td>
	        	</tr>
	        </tbody>
	    </table>
	</div>
    
</body>
</html>